<script setup lang="ts">
import UserDialog from "./UserDialog.vue";
import UserList from "./UserList.vue";
</script>

<template>
  <div class="text-h1">User View</div>
  <UserList></UserList>
  <UserDialog></UserDialog>
</template>

<style scoped></style>
